<h2>Contacts details</h2>
<mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="contact.name">
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Telephone number</mat-label>
    <input matInput type="number" [(ngModel)]="contact.telephoneNumber">
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" [(ngModel)]="contact.email">
</mat-form-field>
<br>
<button mat-raised-button color="primary" (click)="updateContact()">Update contact details</button>
<button mat-raised-button color="primary" (click)="deleteContact()">Delete contact</button>