h2, button{
    margin-top: 5px;
}

h2, .searchContainer, .sortContainer, .searchButton{
    margin-left: 15px;
}

.ascendingButton, .descendingButton{
    margin-left: 5px;
}

.listItem, .searchSpan, .sortSpan{
    font-size: medium;
}